Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

actionlint:
  name: actionlint
  entry: actionlint
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

stylua:
  name: stylua
  entry: stylua --indent-type Spaces --indent-width 2
  language: system

rumdl-check:
  name: rumdl-check
  entry: rumdl check
  language: system

rumdl-fix:
  name: rumdl-fix
  entry: rumdl check --fix
  language: system

convert-drawio-to-png:
  name: Convert .drawio to .drawio.png
  entry: bash .github/scripts/convert-drawio-to-png.sh
  language: system

sync-zenn:
  name: Sync Zenn articles
  entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
  language: system
  pass_filenames: false

update-categories:
  name: Update category buttons
  entry: uv run python bin/update-categories.py blog slides
  language: system
  pass_filenames: false

docs(content): align postman article examples
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): clarify postman article workflow
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): add mkmd task artifact article
  zenn/2026-05-18-mkmd-ai-task-artifacts.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-18-mkmd-ai-task-artifacts.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(content): align en blog descriptions
  AGENTS.md
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): simplify mkmd article
  zenn/raw/articles/2026-05-18-mkmd-ai-task-artifacts.md
Due: rumdl-check, rumdl-fix

docs(zenn): remove mkmd article
  zenn/2026-05-18-mkmd-ai-task-artifacts.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-18-mkmd-ai-task-artifacts.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(blog): use bash fences for command examples
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(content): update agent workflow articles (#165)
  AGENTS.md
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): add tmux-a2a-postman article
  zenn/2026-05-07-tmux-a2a-postman.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-07-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): refine postman article positioning
  zenn/2026-05-07-tmux-a2a-postman.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-07-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): rewrite postman article naturally
  zenn/2026-05-07-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-07-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): update postman article date and examples
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): clarify postman status and handoffs
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): retitle postman article for agent roles
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): clarify the initial state description in tmux A2A postman article
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): add postman skills and rally example
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): retitle postman article for relay framing
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(content): align postman relay examples
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(content): refine postman agent handoff article
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): polish postman handoff article
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): clarify vde-layout reference
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): update article publication name and link
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): strengthen multi-agent motivation
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): clarify agent-agnostic relay value
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): link postman quick start README
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

fix(zenn): update codex category tags and counts
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): refine tmux a2a postman article intro
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): show postman mail envelope shape
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): tighten postman article prose
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): update tmux a2a postman article metadata and headings
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): clarify recipient instructions and tmux statusline note
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): update tmux a2a postman publish time
  zenn/2026-05-18-tmux-a2a-postman.qmd
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, sync-zenn

feat(site): add unified feed page and root feed handling
  .github/scripts/detect-changes.sh
  .github/workflows/publish.yaml
  .github/workflows/sync-readme.yaml
  _quarto.yaml
  feed.qmd
  index.qmd
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

docs(site): update feed and resume navigation links
  _quarto.yaml
  en/resume/index.qmd
  feed.qmd
  index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

fix(publish): generate root RSS feed
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(site): simplify homepage and resume navigation
  _quarto.yaml
  en/resume/index.qmd
  index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

feat(site): add top footer link and hide homepage toc
  _quarto.yaml
  index.qmd
Due: rumdl-check, rumdl-fix

docs(site): refine homepage intro
  index.qmd
Due: rumdl-check, rumdl-fix

docs(slides): add agent skills study deck
  slides/2026-05-28-agent-skills.qmd
  slides/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): focus agent skills deck on personal use
  slides/2026-05-28-agent-skills.qmd
Due: rumdl-check, rumdl-fix, update-categories

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  stylua: any of: \.lua$
  rumdl-check: any of: \.(md|qmd)$
  rumdl-fix: any of: \.(md|qmd)$
  convert-drawio-to-png: any of: assets/.*\.drawio$
  sync-zenn: any of: ^zenn/.*\.qmd$
  update-categories: any of: ^(blog|slides)/.*\.qmd$
