Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

WIP
  index.qmd
Due: rumdl-check, rumdl-fix

WIP
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

WIP
  .github/workflows/pre-commit-nix.yaml
  flake.nix
  pyproject.toml
  uv.lock
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  flake.lock
Due: none

fix: remove dotfiles input and use nixpkgs directly
  flake.lock
  flake.nix
Due: none

fix(ci): use uv run pre-commit in PR workflow
  .github/workflows/pre-commit-nix.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

feat(slides): improve JEDAI AI Gateway presentation structure
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio.png
  assets/2026-01-27-jedai-ai-gateway/token-issuance-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/token-issuance-flow.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

feat(slides): add agent connection diagram and refine slide content
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): Token無効化表現をRate Limit APIに修正
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
  assets/2026-01-27-jedai-ai-gateway/token-issuance-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/token-issuance-flow.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): 認証方式をU2M OAuthに統一
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio.png
  assets/2026-01-27-jedai-ai-gateway/token-issuance-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/token-issuance-flow.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): Token発行表現を認証設定に統一し図を修正
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): dev-environment図の注釈を正確に修正
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
Due: convert-drawio-to-png

fix(slides): before-after図の内容を修正
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio.png
Due: convert-drawio-to-png

fix(slides): 非エンジニア表現を修正
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): before-after図の外枠を拡大
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio.png
Due: convert-drawio-to-png

fix(slides): 利用料管理表現を修正し図の説明コメントを追加
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): dev-environment図のenv-codeを修正
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): databricks-infrastructure説明のSQL Alertを監視Jobに修正
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, update-categories

fix(slides): 15分固定値表現を設定可能な間隔に修正
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio.png
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): auth-flow関連修正
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): Dev Container統合セクションからClaude Codeを削除
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): auth-flow図の環境変数を3つに更新
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio.png
Due: convert-drawio-to-png

fix(slides): SQL Alertを監視Jobに修正、auth-flow高さ調整
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

refactor(slides): 重複スライドを削除、検討事項セクション追加
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio
  assets/2026-01-27-jedai-ai-gateway/databricks-infrastructure.drawio.png
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio
  assets/2026-01-27-jedai-ai-gateway/three-options-comparison.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

refactor(slides): Claude Code削除、Aider言及を1回に整理
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

fix(slides): adjust diagram layouts (Databricks label overlap, LLM API label)
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
Due: convert-drawio-to-png

WIP
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio
Due: convert-drawio-to-png

WIP
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-era-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-ready-overview.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/guardrails.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/jupyter-databricks-kernel.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/notebook-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/skinny-notebook-wrapper.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/uv-management.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/data-engineer-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/databricks-one-consumer.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/group-management.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/ml-engineer-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/multi-workspace-architecture.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/overall-architecture.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/role-permission-mapping.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/two-layer-permissions.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/unity-catalog-hierarchy.drawio.png
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio.png
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio.png
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio.png
Due: convert-drawio-to-png

WIP
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio
  assets/2026-01-27-jedai-ai-gateway/agent-connection.drawio.png
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio
  assets/2026-01-27-jedai-ai-gateway/before-after.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
Due: convert-drawio-to-png

WIP
  slides/2026-01-27-jedai-ai-gateway.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  blog/2024-06-17-setup-mac.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  resume/index.qmd
Due: rumdl-check, rumdl-fix

WIP
  zenn/2026-01-27-databricks-goose-starter.qmd
  zenn/index.qmd
Due: rumdl-check, rumdl-fix, sync-zenn
