Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, stylua, convert-drawio-to-png, actionlint, pinact, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        files: \.sh$
        pass_filenames: true

      - id: stylua
        name: stylua
        entry: mise exec -- stylua
        language: system
        files: \.lua$
        pass_filenames: true

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$
        pass_filenames: true
        verbose: true

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: true

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: true

      - id: gitleaks
        name: gitleaks
        entry: mise exec -- gitleaks protect --staged
        language: system
        pass_filenames: false

WIP
  .github/workflows/pre-commit.yaml
Due: actionlint, pinact, zizmor

add workflows (#74)
  .github/workflows/github-profile-summary-cards.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .github/workflows/sync-readme.yaml
  .github/zizmor.yml
  about.qmd
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
Due: actionlint, pinact, zizmor

WIP
  .github/workflows/github-profile-summary-cards.yaml
Due: actionlint, pinact, zizmor

Quartoプロジェクトを最新化
  blog/2024-05-05-deploy-quarto.qmd
  blog/2024-08-25-publishing-github-pages-with-quarto.qmd
  blog/2025-05-06-quarto-slides.qmd
  blog/2025-12-15-uv-quarto-intro.qmd
Due: none

fix
  blog/2025-12-15-uv-quarto-intro.qmd
Due: none

WIP
  blog/2025-12-15-uv-quarto-intro.qmd
Due: none

WIP
  blog/2025-12-15-uv-quarto-intro.qmd
  themes/font.scss
Due: none

WIP
  blog/2025-09-02-activity.qmd
  blog/2025-12-15-activity.qmd
Due: none

IWP
  .github/ghalint.yaml
  .github/workflows/github-profile-summary-cards.yaml
  .pre-commit-config.yaml
  mise.toml
Due: actionlint, pinact, zizmor

WIP
  _extensions/period/_extension.yaml
  _quarto.yaml
  blog/2025-12-15-activity.qmd
  blog/_metadata.yaml
  resume/_metadata.yaml
  slides/_metadata.yaml
Due: none

WIP
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

WIP
  .github/workflows/sync-readme.yaml
Due: actionlint, pinact, zizmor

WIP
  uv.lock
Due: none

WIP
  resume/index.qmd
Due: none

WIP: AEON TECH HUB #22 スライド作成
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-era-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-ready-overview.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/guardrails.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/jupyter-databricks-kernel.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/notebook-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/skinny-notebook-wrapper.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/uv-management.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/databricks-one-consumer.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/databricks-one-consumer.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/group-management.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/group-management.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/ml-engineer-workflow.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/ml-engineer-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/multi-workspace-architecture.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/multi-workspace-architecture.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/overall-architecture.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/overall-architecture.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/role-permission-mapping.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/role-permission-mapping.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/two-layer-permissions.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/two-layer-permissions.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/unity-catalog-hierarchy.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/unity-catalog-hierarchy.drawio.png
  slides/2025-12-22-aeon-tech-hub-databricks.qmd
Due: convert-drawio-to-png

WIP: スライド改善
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio.png
  slides/2025-12-22-aeon-tech-hub-databricks.qmd
Due: convert-drawio-to-png

WIP: データエンジニアワークフロー図追加
  assets/2025-12-22-aeon-tech-hub-databricks/data-engineer-workflow.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/data-engineer-workflow.drawio.png
  slides/2025-12-22-aeon-tech-hub-databricks.qmd
Due: convert-drawio-to-png

WIP: data-analyst-workflow の共有ラベル位置調整
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio.png
Due: convert-drawio-to-png

WIP: multi-workspace-architecture のポイント文字サイズ拡大
  assets/2025-12-22-aeon-tech-hub-databricks/multi-workspace-architecture.drawio
  assets/2025-12-22-aeon-tech-hub-databricks/multi-workspace-architecture.drawio.png
Due: convert-drawio-to-png

update how to preview
  CONTRIBUTING.md
  README.md
Due: none

WIP
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: actionlint, pinact, zizmor

WIP
  mise.toml
Due: none

WIP
  _quarto.yaml
  bin/sync-zenn.py
  blog/index.qmd
  index.qmd
  zenn/2024-11-20-manage-zenn-with-github.qmd
  zenn/2024-12-02-vim-neovim-environment-for-dbt.qmd
  zenn/2024-12-23-my-first-dashboard-building.qmd
  zenn/2025-03-28-display-notion-relation-property.qmd
  zenn/2025-04-05-weekly-report-by-devin.qmd
  zenn/2025-04-05-weekly-report-prompt-for-devin.qmd
  zenn/2025-04-16-issue-with-python-libraries.qmd
  zenn/2025-04-29-mcp-databricks-server-service-principal.qmd
  zenn/2025-05-04-tmux-zsh-git-status.qmd
  zenn/2025-05-06-quarto-slides.qmd
  zenn/2025-07-16-optimize-your-terminal-for-claude-code.qmd
  zenn/2025-08-06-databricks-connect-practice.qmd
  zenn/2025-08-06-devcontainer-claude-code.qmd
  zenn/2025-08-06-python-env-optimization.qmd
  zenn/2025-12-01-shell-script-claude-code.qmd
  zenn/2025-12-04-magi-system-ai-review.qmd
  zenn/2025-12-06-ai-guardrails-local-cloud.qmd
  zenn/2025-12-07-manage-git-worktree-with-ghq.qmd
  zenn/2025-12-10-organize-databricks-notebook-management.qmd
  zenn/2025-12-11-use-uv-in-databricks.qmd
  zenn/2025-12-12-drawio-tips-claude-code.qmd
  zenn/2025-12-13-jupyter-databricks-kernel-oss-dev.qmd
  zenn/2025-12-14-databricks-multi-workspace-permissions.qmd
  zenn/2025-12-15-drawio-skills-claude-code.qmd
  zenn/2025-12-19-databricks-notebook-ai-ready.qmd
  zenn/index.qmd
  zenn/pivot-incremental-friendly-dbt-model.qmd
Due: none

WIP
  assets/common/zenn-logo-only.svg
  assets/common/zenn-logo.png
  bin/sync-zenn.py
  zenn/2024-11-20-manage-zenn-with-github.qmd
  zenn/2024-12-02-vim-neovim-environment-for-dbt.qmd
  zenn/2024-12-23-my-first-dashboard-building.qmd
  zenn/2025-03-28-display-notion-relation-property.qmd
  zenn/2025-04-05-weekly-report-by-devin.qmd
  zenn/2025-04-05-weekly-report-prompt-for-devin.qmd
  zenn/2025-04-16-issue-with-python-libraries.qmd
  zenn/2025-04-29-mcp-databricks-server-service-principal.qmd
  zenn/2025-05-04-tmux-zsh-git-status.qmd
  zenn/2025-05-06-quarto-slides.qmd
  zenn/2025-07-16-optimize-your-terminal-for-claude-code.qmd
  zenn/2025-08-06-databricks-connect-practice.qmd
  zenn/2025-08-06-devcontainer-claude-code.qmd
  zenn/2025-08-06-python-env-optimization.qmd
  zenn/2025-12-01-shell-script-claude-code.qmd
  zenn/2025-12-04-magi-system-ai-review.qmd
  zenn/2025-12-06-ai-guardrails-local-cloud.qmd
  zenn/2025-12-07-manage-git-worktree-with-ghq.qmd
  zenn/2025-12-10-organize-databricks-notebook-management.qmd
  zenn/2025-12-11-use-uv-in-databricks.qmd
  zenn/2025-12-12-drawio-tips-claude-code.qmd
  zenn/2025-12-13-jupyter-databricks-kernel-oss-dev.qmd
  zenn/2025-12-14-databricks-multi-workspace-permissions.qmd
  zenn/2025-12-15-drawio-skills-claude-code.qmd
  zenn/2025-12-19-databricks-notebook-ai-ready.qmd
  zenn/pivot-incremental-friendly-dbt-model.qmd
Due: none

feat: publish workflow の並列化と GFM パス修正の Python 化
  .github/scripts/fix_gfm_paths.py
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

fix: quarto render を for loop で個別実行に修正
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

fix: artifact upload に include-hidden-files を追加
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

fix: playwright wait_for_load_state を load に変更しタイムアウト延長
  .github/scripts/html_to_pdf.py
Due: none

fix: fix_gfm_paths.py の正規表現エスケープを修正
  .github/scripts/fix_gfm_paths.py
Due: none

refactor: render-* ジョブを matrix で統合
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

refactor: render-main も matrix に統合し全 render を並列実行
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

fix: deploy ジョブで gh-pages をベースにアーティファクトを上書き
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor
