Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

chore(slides): rename context design harness deck
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): update context design harness deck
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

style(slides): enlarge post preview
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): update tmux multi-agent orchestration section
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): publish context design harness slide and add closing embed
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): update embedded tweet text and date
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): add Databricks note to intro slide
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): clarify Agent Skills note reference
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): tweak conclusion wording about Claude Sonnet harness
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): refine context design harness slide content and structure
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): link the event footer to connpass
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

chore(hooks): serialize drawio png conversion
  flake.nix
Due: none

docs(slides): update context design harness profile
  slides/2026-06-30-context-design-harness.qmd
  slides/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

style(content): normalize markdown formatting
  blog/2025-11-23-github-activity-2025-review.qmd
  blog/2025-12-14-alacritty-tmux-theme-opacity.qmd
  blog/2025-12-31-year-in-review.qmd
  blog/2026-03-15-agent-config-ssot-nix.qmd
  blog/2026-03-17-makefile-task-runner.qmd
  blog/2026-03-21-claude-codex-info-gathering.qmd
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
  slides/2026-03-05-multi-agent-orchestration.qmd
  slides/2026-03-06-kenro-py.qmd
  zenn/raw/articles/2025-12-10-organize-databricks-notebook-management.md
  zenn/raw/articles/2025-12-11-use-uv-in-databricks.md
  zenn/raw/articles/2025-12-12-drawio-tips-claude-code.md
  zenn/raw/articles/2025-12-19-databricks-notebook-ai-ready.md
  zenn/raw/articles/2026-05-18-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix, update-categories

chore(assets): refresh drawio png exports
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-era-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-ready-overview.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/guardrails.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/jupyter-databricks-kernel.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/notebook-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/skinny-notebook-wrapper.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/uv-management.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/data-analyst-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/data-engineer-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/databricks-one-consumer.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/group-management.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/ml-engineer-workflow.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/multi-workspace-architecture.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/overall-architecture.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/role-permission-mapping.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/two-layer-permissions.drawio.png
  assets/2025-12-22-aeon-tech-hub-databricks/unity-catalog-hierarchy.drawio.png
  assets/2026-01-27-jedai-ai-gateway/auth-flow.drawio.png
  assets/2026-01-27-jedai-ai-gateway/dev-environment.drawio.png
  assets/2026-01-27-jedai-ai-gateway/overall-architecture.drawio.png
  assets/2026-01-27-jedai-ai-gateway/target-users.drawio.png
Due: none

chore(assets): refresh kernel architecture png
  assets/jupyter-databricks-kernel-architecture.drawio.png
Due: none

chore(hooks): skip unchanged drawio exports
  .github/scripts/convert-drawio-to-png.sh
Due: none

docs(slides): revise context design harness slide content
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): tweak summary wording for Claude Sonnet harness
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): refine closing slide wording
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): clarify multi-agent checklist wording and section title
  slides/2026-06-30-context-design-harness.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): add prompt-to-loop engineering thought experiment article
  en/blog/2026-07-02-from-prompt-engineering-to-loop-engineering.qmd
  en/blog/index.qmd
Due: rumdl-check, rumdl-fix

docs(blog): add closing chapter extending the loop-engineering argument
  en/blog/2026-07-02-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): rebalance examples toward industry patterns, ground harness/loop engineering terminology
  en/blog/2026-07-02-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): rename loop engineering article and update publish date
  en/blog/2026-07-03-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): give loop engineering its own limitation and add progression diagram
  en/blog/2026-07-03-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): make the boundary dynamic and close with a requirements memo
  en/blog/2026-07-03-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): add unpredictable-audit requirement to the memo
  en/blog/2026-07-03-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): close with the distributability test and accumulation efficiency
  en/blog/2026-07-03-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): diagram the three boundary forces and the verification loop
  en/blog/2026-07-03-from-prompt-engineering-to-loop-engineering.qmd
Due: rumdl-check, rumdl-fix

docs(blog): update purchased gadgets table and archive older entries
  blog/2024-06-17-purchased-gadgets.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(resume): refine notebook tooling description
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(blog): forecast personal AI agent workstations
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
  en/blog/2026-07-14-two-state-machines-for-agent-work.qmd
Due: rumdl-check, rumdl-fix

docs(blog): refine agent workstation series
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
  en/blog/2026-07-14-two-state-machines-for-agent-work.qmd
  en/blog/index.qmd
Due: rumdl-check, rumdl-fix

docs(blog): frame shared agent substrate
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
  en/blog/2026-07-14-two-state-machines-for-agent-work.qmd
Due: rumdl-check, rumdl-fix

docs(blog): tighten agent workstation prose
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
  en/blog/2026-07-14-two-state-machines-for-agent-work.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify executive agent boundaries
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
Due: rumdl-check, rumdl-fix

docs(blog): remove private source attribution
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
Due: rumdl-check, rumdl-fix

docs(blog): deduplicate executive UI framing
  en/blog/2026-07-14-company-inside-personal-computer.qmd
  en/blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
Due: rumdl-check, rumdl-fix

docs(blog): add japanese agent workstation series
  blog/2026-07-14-company-inside-personal-computer.qmd
  blog/2026-07-14-tmux-survives-visible-form-disappears.qmd
  blog/2026-07-14-two-state-machines-for-agent-work.qmd
  blog/index.qmd
Due: rumdl-check, rumdl-fix, update-categories
