Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

actionlint:
  name: actionlint
  entry: actionlint
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

stylua:
  name: stylua
  entry: stylua --indent-type Spaces --indent-width 2
  language: system

rumdl-check:
  name: rumdl-check
  entry: rumdl check
  language: system

rumdl-fix:
  name: rumdl-fix
  entry: rumdl check --fix
  language: system

convert-drawio-to-png:
  name: Convert .drawio to .drawio.png
  entry: bash .github/scripts/convert-drawio-to-png.sh
  language: system

sync-zenn:
  name: Sync Zenn articles
  entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
  language: system
  pass_filenames: false

update-categories:
  name: Update category buttons
  entry: uv run python bin/update-categories.py blog slides
  language: system
  pass_filenames: false

docs(blog): remove redundant emoji examples and usage explanation
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): correct skk-emoji-jisyo to English-only gemoji shortcodes
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(resume): update resume content (#156)
  _quarto.yaml
  en/resume/_metadata.yaml
  en/resume/index.qmd
  resume/01-okuma.qmd
  resume/02-sld.qmd
  resume/03-cnsh.qmd
  resume/04-hacomono.qmd
  resume/05-genda.qmd
  resume/07-pivot.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): make resume ATS-first (#156)
  _quarto.yaml
  resume/01-okuma.qmd
  resume/02-sld.qmd
  resume/03-cnsh.qmd
  resume/04-hacomono.qmd
  resume/05-genda.qmd
  resume/07-pivot.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): add PDF output support (#156)
  en/resume/_metadata.yaml
  en/resume/index.qmd
  resume/_metadata.yaml
Due: rumdl-check, rumdl-fix

fix(resume): preserve Japanese PDF text extraction (#156)
  .github/workflows/publish.yaml
  en/resume/index.qmd
  flake.nix
  resume/_metadata.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

docs(resume): refine bullet granularity (#156)
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): number headings and refine SLD (#156)
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): link outputs and update English dates (#156)
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): use dated nested output links (#156)
  en/resume/_metadata.yaml
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): restore outputs and ownership (#156)
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): translate English output titles (#156)
  en/resume/index.qmd
Due: rumdl-check, rumdl-fix

fix(resume): embed CJK font in Typst PDFs (#156)
  en/resume/_metadata.yaml
  resume/_metadata.yaml
Due: none

docs(resume): align section heading numbering (#156)
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): update public resume for ATS (#156) (#157)
  .github/workflows/publish.yaml
  _quarto.yaml
  en/resume/_metadata.yaml
  en/resume/index.qmd
  flake.nix
  resume/01-okuma.qmd
  resume/02-sld.qmd
  resume/03-cnsh.qmd
  resume/04-hacomono.qmd
  resume/05-genda.qmd
  resume/07-pivot.qmd
  resume/index.qmd
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

fix(deploy): restore resume HTML PDF generation (#158)
  .github/workflows/publish.yaml
  en/resume/_metadata.yaml
  resume/_metadata.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(resume): align bilingual resume wording
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): remove sales reporting bullet
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

feat(site): use sidebar navigation
  _quarto.yaml
Due: none

fix(site): disable sidebar breadcrumbs
  _quarto.yaml
Due: none

fix(site): separate RSS sidebar group
  _quarto.yaml
Due: none

fix(site): order external sidebar links
  _quarto.yaml
Due: none

chore: reorder feeds section after external links in navigation menu
  _quarto.yaml
Due: none

docs(site): update about buttons and footer socials
  _quarto.yaml
  index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): update company name to CNS HOKKAIDO Co., Ltd.
  en/resume/index.qmd
Due: rumdl-check, rumdl-fix

fix(layout): restore consistent content grid
  _quarto.yaml
Due: none

fix(layout): align about tablet grid
  themes/font.scss
Due: none

feat(index): add English blog link and remove social media links
  index.qmd
Due: rumdl-check, rumdl-fix

chore(quarto): remove grid layout settings
  _quarto.yaml
Due: none

docs(index): remove description field
  index.qmd
Due: rumdl-check, rumdl-fix

revert(layout): remove font tablet override
  themes/font.scss
Due: none

chore: remove feeds section and social links from navigation and footer
  _quarto.yaml
Due: none

style(resume): change job title separator
  resume/index.qmd
Due: rumdl-check, rumdl-fix

style(resume): update job title separator
  en/resume/index.qmd
Due: rumdl-check, rumdl-fix

style(resume): update job title separators
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

style(resume): replace comma with ampersand in job title
  en/resume/index.qmd
Due: rumdl-check, rumdl-fix

fix(resume): reduce PDF scale
  .github/scripts/html-to-pdf.py
Due: ruff-check, ruff-format

fix(resume): use 85 percent PDF scale
  .github/scripts/html-to-pdf.py
Due: ruff-check, ruff-format

docs(resume): update page titles
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  stylua: any of: \.lua$
  rumdl-check: any of: \.(md|qmd)$
  rumdl-fix: any of: \.(md|qmd)$
  convert-drawio-to-png: any of: assets/.*\.drawio$
  sync-zenn: any of: ^zenn/.*\.qmd$
  update-categories: any of: ^(blog|slides)/.*\.qmd$
