Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

fix: exclude zenn/raw/ from Quarto rendering
  _quarto.yaml
Due: none

feat: auto-generate zenn/*.qmd from zenn/raw/articles/*.md
  .pre-commit-config.yaml
  bin/sync-zenn.py
  zenn/2026-02-08-tmux-intro-ai-agent-orchestration.qmd
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix, sync-zenn

refactor: migrate to flake-parts with shared pre-commit modules
  .github/workflows/deploy-zenn.yaml
  .github/workflows/github-profile-summary-cards.yaml
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  .stylua.toml
  flake.lock
  flake.nix
  nix/pre-commit.nix
  nix/treefmt.nix
  renovate.json
Due: actionlint, ghalint, ghatm, pinact, zizmor

chore: update zenn category counts
  zenn/index.qmd
Due: rumdl-check, rumdl-fix, sync-zenn

WIP
  .gitignore
Due: none

fix(ci): replace gitleaks-history with gitleaks detect
  .github/workflows/pre-commit-nix.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix(ci): add ci devShell with gitleaks
  .github/workflows/pre-commit-nix.yaml
  flake.nix
Due: actionlint, ghalint, ghatm, pinact, zizmor

add message
  zenn/raw/articles/2025-04-29-mcp-databricks-server-service-principal.md
Due: rumdl-check, rumdl-fix

WIP
  slides/2026-02-13-databricks-cfp-demo.qmd
  slides/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

refactor(slides): restructure Databricks CFP demo for speaker notes
  slides/2026-02-13-databricks-cfp-demo.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  slides/2026-02-13-databricks-cfp-demo.qmd
Due: rumdl-check, rumdl-fix, update-categories

feat(blog): add GENDA talks summary draft 2025-2026
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

feat(blog): enhance GENDA talks summary to cohesive article (3 talks)
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

style(blog): refine GENDA talks summary to match author's voice
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

add doc
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  flake.lock
  flake.nix
  nix/pre-commit.nix
  nix/treefmt.nix
Due: none

WIP
  .claude/skills/generate-trends/SKILL.md
  .github/workflows/publish.yaml
  _quarto.yaml
  auto/.preferences.yaml
  auto/2026-02-22-en-tech-trends.qmd
  auto/2026-02-22-ja-tech-trends.qmd
  auto/index.qmd
  bin/parse-feedback.py
  bin/update-categories.py
  nix/pre-commit.nix
Due: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, rumdl-check, rumdl-fix

WIP
  .claude/skills/generate-trends/SKILL.md
  _quarto.yaml
  auto/.preferences.yaml
  auto/2026-02-22-en-tech-trends.qmd
  auto/2026-02-22-ja-tech-trends.qmd
  auto/2026-02-23-en-tech-trends.qmd
  auto/2026-02-23-ja-tech-trends.qmd
  bin/fetch-trends.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix

WIP
  .claude/skills/generate-trends/SKILL.md
  .claude/skills/generate-trends/scripts/fetch-trends.py
  .claude/skills/generate-trends/scripts/parse-feedback.py
  bin/sync-zenn.py
  bin/update-categories.py
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix

WIP
  .envrc
  .gitignore
Due: none

docs(blog): refine wording and reformat event list in genda-talks-summary
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): expand sections 3.1-3.3 with slide insights in genda-talks-summary
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  auto/.preferences.yaml
  auto/2026-02-24-en-tech-trends.qmd
  auto/2026-02-24-ja-tech-trends.qmd
  auto/index.qmd
Due: rumdl-check, rumdl-fix

WIP
  _extensions/schochastics/social-share/social-share.lua
Due: stylua

WIP
  auto/.preferences.yaml
  auto/2026-02-24-en-tech-trends.qmd
  auto/2026-02-24-ja-tech-trends.qmd
Due: rumdl-check, rumdl-fix

WIP
  auto/2026-02-24-en-tech-trends.qmd
  auto/2026-02-24-ja-tech-trends.qmd
Due: rumdl-check, rumdl-fix

feat(auto): add tech trend digests for 2026-02-25
  auto/.preferences.yaml
  auto/2026-02-25-en-tech-trends.qmd
  auto/2026-02-25-ja-tech-trends.qmd
  auto/index.qmd
Due: rumdl-check, rumdl-fix

WIP
  auto/.preferences.yaml
  auto/2026-02-27-en-tech-trends.qmd
  auto/2026-02-27-ja-tech-trends.qmd
  auto/index.qmd
Due: rumdl-check, rumdl-fix

WIP
  .claude/skills/generate-trends/SKILL.md
  .claude/skills/generate-trends/scripts/fetch-trends.py
  auto/2026-02-27-en-tech-trends.qmd
  auto/2026-02-27-ja-tech-trends.qmd
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix

WIP
  renovate.json
Due: none

Configure Dependabot for GitHub Actions updates
  .github/dependabot.yml
Due: none

feat(auto): add deduplication for trend digests and 2026-02-28 articles
  .claude/skills/generate-trends/SKILL.md
  .claude/skills/generate-trends/scripts/extract-covered-urls.py
  auto/.preferences.yaml
  auto/2026-02-28-en-tech-trends.qmd
  auto/2026-02-28-ja-tech-trends.qmd
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix

WIP
  blog/2024-06-17-purchased-gadgets.qmd
Due: rumdl-check, rumdl-fix, update-categories
