Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

docs(zenn): update article about codex exec commit flow
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs: sync English lazygit post with Zenn update
  en/blog/2026-05-14-lazygit-commit-messages-with-codex-exec.qmd
Due: rumdl-check, rumdl-fix

docs: refine English lazygit post rationale
  en/blog/2026-05-14-lazygit-commit-messages-with-codex-exec.qmd
Due: rumdl-check, rumdl-fix

docs: correct English lazygit post date
  en/blog/2026-05-15-lazygit-commit-messages-with-codex-exec.qmd
Due: rumdl-check, rumdl-fix

docs: add English tmux agent workflow articles
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
  en/blog/index.qmd
Due: rumdl-check, rumdl-fix

Refine tmux session naming guidance
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

Format markdown files with mdfmt
  blog/2024-06-17-purchased-gadgets.qmd
  blog/2024-06-17-setup-mac.qmd
  blog/2024-07-20-aigis-note.qmd
  blog/2024-07-20-minecraft-note.qmd
  blog/2025-11-23-github-activity-2025-review.qmd
  blog/2025-12-14-alacritty-tmux-theme-opacity.qmd
  blog/2025-12-31-year-in-review.qmd
  blog/2026-01-06-mise-pre-commit.qmd
  blog/2026-01-08-why-dotfiles-still-matters-to-me.qmd
  blog/2026-03-15-agent-config-ssot-nix.qmd
  blog/2026-03-21-claude-codex-info-gathering.qmd
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  slides/2025-05-22-midas-cursor-tips.qmd
  slides/2025-06-03-self-introduction-1page.qmd
  slides/2025-08-08-midas-ai.qmd
  slides/2025-11-07-tamesare-data-sapporo-opening.qmd
  slides/2025-11-07-tamesare-data-sapporo-uma-chan.qmd
  slides/2025-12-22-aeon-tech-hub-databricks.qmd
  slides/2026-03-05-multi-agent-orchestration.qmd
  slides/2026-03-06-kenro-py.qmd
  zenn/raw/articles/2025-12-01-shell-script-claude-code.md
  zenn/raw/articles/2025-12-07-manage-git-worktree-with-ghq.md
  zenn/raw/articles/2025-12-10-organize-databricks-notebook-management.md
  zenn/raw/articles/2025-12-11-use-uv-in-databricks.md
  zenn/raw/articles/2025-12-12-drawio-tips-claude-code.md
  zenn/raw/articles/2025-12-13-jupyter-databricks-kernel-oss-dev.md
  zenn/raw/articles/2025-12-14-databricks-multi-workspace-permissions.md
  zenn/raw/articles/2025-12-15-drawio-skills-claude-code.md
  zenn/raw/articles/2025-12-19-databricks-notebook-ai-ready.md
  zenn/raw/articles/2026-01-01-zsh-startup-optimization-compinit.md
  zenn/raw/articles/2026-01-01-zsh-startup-optimization-zinit.md
  zenn/raw/articles/2026-01-27-databricks-goose-starter.md
  zenn/raw/articles/2026-02-08-tmux-intro-ai-agent-orchestration.md
Due: rumdl-check, rumdl-fix, update-categories

Run mdfmt in pre-commit
  flake.nix
  pyproject.toml
Due: none

docs: use relative qmd links in tmux workspace post
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

docs(blog): update publication dates for two posts
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(blog): use relative qmd links in postman article
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(blog): refine postman handoff examples
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(blog): use valid synthetic postman message id
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

style(blog): normalize shell code fences
  blog/2024-01-27-setup-efm-langserver.qmd
  blog/2024-06-28-systemd-user.qmd
  blog/2024-07-15-technical-tips.qmd
  blog/2024-08-25-publishing-github-pages-with-quarto.qmd
  blog/2024-11-12-use-nektos-act.qmd
  blog/2024-11-20-manage-zenn-with-github.qmd
  blog/2025-04-01-try-aider.qmd
  blog/2025-04-11-mcp-hands-on.qmd
  blog/2025-04-16-issue-with-python-libraries.qmd
  blog/2025-04-29-mcp-databricks-server-service-principal.qmd
  blog/2025-05-04-tmux-zsh-git-status.qmd
  blog/2025-05-06-python-venv.qmd
  blog/2025-05-06-quarto-slides.qmd
  blog/2025-05-10-bash-zsh-edit-and-execute-command.qmd
  blog/2025-05-12-hands-on-lambda-ecr.qmd
  blog/2025-06-08-create-uv-venv-with-poetry-pyproject-toml.qmd
  blog/2025-06-10-install-global-python-with-uv.qmd
  blog/2025-06-15-dbt-bigquery-auth.qmd
  blog/2025-07-14-optimize-your-teminal-for-claude-code.qmd
  blog/2025-07-28-article1-devcontainer.qmd
  blog/2025-07-28-article2-python-env.qmd
  blog/2025-07-28-article3-databricks-connect.qmd
  blog/2025-09-14-codex-cli-config-management.qmd
  blog/2025-12-14-alacritty-tmux-theme-opacity.qmd
  blog/2025-12-15-uv-quarto-intro.qmd
  blog/2025-12-28-setup-jupyterlab-with-mise-uv.qmd
  blog/2026-03-21-claude-codex-info-gathering.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): update postman article title
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

style(blog): use quarto bash fence attributes
  blog/2024-01-27-setup-efm-langserver.qmd
  blog/2024-06-28-systemd-user.qmd
  blog/2024-07-15-technical-tips.qmd
  blog/2024-08-25-publishing-github-pages-with-quarto.qmd
  blog/2024-11-12-use-nektos-act.qmd
  blog/2024-11-20-manage-zenn-with-github.qmd
  blog/2025-04-01-try-aider.qmd
  blog/2025-04-11-mcp-hands-on.qmd
  blog/2025-04-16-issue-with-python-libraries.qmd
  blog/2025-04-29-mcp-databricks-server-service-principal.qmd
  blog/2025-05-04-tmux-zsh-git-status.qmd
  blog/2025-05-06-python-venv.qmd
  blog/2025-05-06-quarto-slides.qmd
  blog/2025-05-12-hands-on-lambda-ecr.qmd
  blog/2025-06-08-create-uv-venv-with-poetry-pyproject-toml.qmd
  blog/2025-06-10-install-global-python-with-uv.qmd
  blog/2025-06-15-dbt-bigquery-auth.qmd
  blog/2025-07-14-optimize-your-teminal-for-claude-code.qmd
  blog/2025-07-28-article1-devcontainer.qmd
  blog/2025-07-28-article2-python-env.qmd
  blog/2025-07-28-article3-databricks-connect.qmd
  blog/2025-12-14-alacritty-tmux-theme-opacity.qmd
  blog/2025-12-15-uv-quarto-intro.qmd
  blog/2025-12-28-setup-jupyterlab-with-mise-uv.qmd
  blog/2026-03-21-claude-codex-info-gathering.qmd
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-05-15-lazygit-commit-messages-with-codex-exec.qmd
  en/blog/2026-05-17-repeatable-tmux-workspaces-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix, update-categories

style(slides): use bash fence attributes
  slides/2025-12-12-databricks-notebook-ai-ready.qmd
  slides/2026-03-06-kenro-py.qmd
Due: rumdl-check, rumdl-fix, update-categories

fix(blog): render postman mermaid diagram
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(blog): show postman mermaid source
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs: add AGENTS and CLAUDE instruction files
  AGENTS.md
  CLAUDE.md
Due: rumdl-check, rumdl-fix

style(content): normalize code fence syntax
  AGENTS.md
  blog/2024-05-04-get-git-branch-name.vim.qmd
  blog/2025-04-01-try-aider.qmd
  blog/2025-05-06-quarto-slides.qmd
  blog/2025-07-14-optimize-your-teminal-for-claude-code.qmd
  blog/2025-07-28-article1-devcontainer.qmd
  blog/2025-07-28-article3-databricks-connect.qmd
  blog/2025-12-15-uv-quarto-intro.qmd
  blog/2026-01-08-why-dotfiles-still-matters-to-me.qmd
  blog/2026-03-17-makefile-task-runner.qmd
  blog/2026-03-21-claude-codex-info-gathering.qmd
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
  slides/2025-05-22-midas-cursor-tips.qmd
  slides/2025-08-08-midas-ai.qmd
  slides/2026-03-05-multi-agent-orchestration.qmd
  slides/2026-03-06-kenro-py.qmd
  zenn/raw/articles/2025-05-06-quarto-slides.md
Due: rumdl-check, rumdl-fix, update-categories

fix(theme): improve mermaid diagram contrast
  themes/font.scss
Due: none

fix(theme): target rendered mermaid svg
  themes/font.scss
Due: none

style(content): use bash fences for postman commands
  AGENTS.md
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): clarify postman article value prop
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): reframe postman article audience
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): clarify postman control value
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): clarify skill catalog reminders
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): clarify postman skill workflow
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): mention postman status heartbeat
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): add postman config example
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): correct postman skill injection wording
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): render postman topology diagram
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): tighten postman article structure
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): clarify postman send skill example
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): add postman flow transcript
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): revert postman flow transcript
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): restore postman flow transcript
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): align postman transcript roles
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix

docs(content): focus postman transcript on rework
  en/blog/2026-05-17-tmux-a2a-postman-markdown-mail-for-ai-agent-teams.qmd
Due: rumdl-check, rumdl-fix
