Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: convert-drawio-to-svg, convert-svg-for-pdf, actionlint, pinact, zizmor

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: convert-drawio-to-svg
        name: Convert .drawio to .drawio.svg with text-to-path
        entry: bash .github/scripts/convert-drawio-to-svg.sh
        language: system
        files: assets/.*\.drawio$
        pass_filenames: true
        verbose: true

      - id: convert-svg-for-pdf
        name: Convert draw.io SVG for PDF rendering
        entry: bash -c 'for svg in "$@"; do tmp="${svg%.svg}_tmp.svg" && inkscape "$svg" --export-text-to-path --export-plain-svg --export-filename="$tmp" && mv "$tmp" "$svg"; done' --
        language: system
        files: assets/.*\.svg$
        exclude: assets/.*\.drawio\.svg$
        pass_filenames: true
        verbose: true

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: true

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: false

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$
        pass_filenames: true

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

WIP
  .gitignore
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio.png
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio.png
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/aws-databricks-mapping.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-challenges.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/development-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/intern-productivity.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/quantitative-improvement.drawio
  assets/2025-11-07-tamesare-data-sapporo/quantitative-improvement.drawio.png
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/job-migration.drawio
  assets/2025-11-07-tamesare-data-sapporo/job-migration.drawio.png
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/intern-productivity.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/quantitative-improvement.drawio
  assets/2025-11-07-tamesare-data-sapporo/quantitative-improvement.drawio.png
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/zenn-twitter-card.jpeg
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: none

WIP
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: none

WIP
  slides/2025-11-07-tamesare-data-sapporo-uma-chan.qmd
Due: none

WIP
  assets/2025-11-07-tamesare-data-sapporo-opening/tamesare-data-logo.png
  assets/2025-11-07-tamesare-data-sapporo-opening/tamesare-data.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/zenn-twitter-card.jpeg
  slides/2025-11-07-tamesare-data-sapporo-opening.qmd
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg

WIP
  .github/scripts/convert-drawio-to-png.sh
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio.png
Due: none

WIP
  .github/scripts/convert-drawio-to-png.sh
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/test-rgb.png
  slides/2025-11-07-tamesare-data-sapporo-opening.qmd
Due: none

WIP
  .github/scripts/convert-drawio-to-png.sh
  CONTRIBUTING.md
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio.png
Due: none

WIP
  CONTRIBUTING.md
Due: none

WIP
  slides/2025-11-07-tamesare-data-sapporo-uma-chan-test.qmd
Due: none

WIP
  CONTRIBUTING.md
  slides/2025-11-07-tamesare-data-sapporo-uma-chan-test.qmd
  slides/2025-11-07-tamesare-data-sapporo-uma-chan.qmd
Due: none

WIP
  slides/2025-11-07-tamesare-data-sapporo-opening.qmd
Due: none

WIP
  blog/2025-07-28-article2-python-env.qmd
Due: none

WIP
  blog/2025-09-28-bigquery-dbt-incremental-intro.qmd
Due: none

WIP
  blog/2025-11-19-vim-tmux-orchestrating-ai-coding-agents.qmd
Due: none

fix: GitHub Actions の Playwright PDF 生成失敗を修正
  .github/workflows/publish.yaml
  pyproject.toml
  uv.lock
Due: actionlint, pinact, zizmor

Add Quarto freeze caching to speed up builds
  .github/workflows/publish.yaml
  .gitignore
  _quarto.yml
Due: actionlint, pinact, zizmor

Add uv dependencies cache to speed up GitHub Actions
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

Implement selective rendering to speed up Quarto builds
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

WIP
  blog/2025-11-23-github-activity-2025-review.qmd
Due: none

WIP
  .github/workflows/publish.yaml
  blog/2025-11-23-github-activity-2025-review.qmd
Due: actionlint, pinact, zizmor

Optimize workflow with dynamic directory-based index rebuilding
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor
