Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, stylua, convert-drawio-to-png

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: mise exec -- gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: mise exec -- ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: mise exec -- ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: stylua
        name: stylua
        entry: mise exec -- stylua
        language: system
        files: \.lua$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$
        require_serial: true

feat: Zenn 記事の OGP 画像を適切なサイズに変更
  assets/common/zenn-ogp.png
  zenn/2024-11-20-manage-zenn-with-github.qmd
  zenn/2024-12-02-vim-neovim-environment-for-dbt.qmd
  zenn/2024-12-23-my-first-dashboard-building.qmd
  zenn/2025-03-28-display-notion-relation-property.qmd
  zenn/2025-04-05-weekly-report-by-devin.qmd
  zenn/2025-04-05-weekly-report-prompt-for-devin.qmd
  zenn/2025-04-16-issue-with-python-libraries.qmd
  zenn/2025-04-29-mcp-databricks-server-service-principal.qmd
  zenn/2025-05-04-tmux-zsh-git-status.qmd
  zenn/2025-05-06-quarto-slides.qmd
  zenn/2025-07-16-optimize-your-terminal-for-claude-code.qmd
  zenn/2025-08-06-databricks-connect-practice.qmd
  zenn/2025-08-06-devcontainer-claude-code.qmd
  zenn/2025-08-06-python-env-optimization.qmd
  zenn/2025-12-01-shell-script-claude-code.qmd
  zenn/2025-12-04-magi-system-ai-review.qmd
  zenn/2025-12-06-ai-guardrails-local-cloud.qmd
  zenn/2025-12-07-manage-git-worktree-with-ghq.qmd
  zenn/2025-12-10-organize-databricks-notebook-management.qmd
  zenn/2025-12-11-use-uv-in-databricks.qmd
  zenn/2025-12-12-drawio-tips-claude-code.qmd
  zenn/2025-12-13-jupyter-databricks-kernel-oss-dev.qmd
  zenn/2025-12-14-databricks-multi-workspace-permissions.qmd
  zenn/2025-12-15-drawio-skills-claude-code.qmd
  zenn/2025-12-19-databricks-notebook-ai-ready.qmd
  zenn/pivot-incremental-friendly-dbt-model.qmd
Due: none

WIP
  index.qmd
Due: none

refactor: gh-summary ブランチを orphan 化
  .github/workflows/github-profile-summary-cards.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  README.md
  mise.toml
Due: none

WIP
  README.md
Due: none

WIP
  .python-version
Due: none

feat: add quarto-social-share extension
  _extensions/schochastics/social-share/_extension.yml
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/_extension.yml
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/css/all.css
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/css/all.min.css
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/css/latex-fontsize.css
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.ttf
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-brands-400.woff2
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.ttf
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-regular-400.woff2
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.ttf
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-solid-900.woff2
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.ttf
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/assets/webfonts/fa-v4compatibility.woff2
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/fontawesome.lua
  _extensions/schochastics/social-share/social-share.css
  _extensions/schochastics/social-share/social-share.lua
Due: stylua

feat: customize social-share extension for blog
  _extensions/schochastics/social-share/social-share.css
  _extensions/schochastics/social-share/social-share.lua
  blog/_metadata.yaml
  index.qmd
Due: stylua

WIP
  about.qmd
Due: none

WIP
  mise.toml
Due: none

WIP
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  bin/sync-zenn.py
  zenn/2025-12-24-mcp-databricks-server-v2.qmd
  zenn/index.qmd
Due: none

WIP
  resume/index.qmd
Due: none

WIP
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  mise.toml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .github/workflows/pre-commit.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  blog/2025-12-28-setup-jupyterlab-with-mise-uv.qmd
  themes/font.scss
Due: none

WIP
  .github/scripts/build-site.py
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  _extensions/schochastics/social-share/social-share.lua
Due: stylua

fix: ビルドエラー時に詳細ログを出力
  .github/scripts/build-site.py
Due: none

WIP
  blog/2025-12-28-setup-jupyterlab-with-mise-uv.qmd
Due: none

WIP
  .github/scripts/build-site.py
  .github/scripts/detect-changes.sh
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  README.md
  _quarto.yaml
  about.qmd
  bin/update-categories.py
  blog/index.qmd
  index.qmd
  mise.toml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  index.qmd
  resume/index.qmd
  uv.lock
Due: none

WIP
  _extensions/schochastics/social-share/social-share.css
  _extensions/schochastics/social-share/social-share.lua
  blog/index.qmd
Due: stylua

WIP
  _extensions/schochastics/social-share/social-share.css
  _extensions/schochastics/social-share/social-share.lua
  blog/_metadata.yaml
Due: stylua

WIP
  .github/scripts/detect-changes.sh
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  _extensions/schochastics/social-share/social-share.lua
  blog/_metadata.yaml
Due: stylua

WIP
  blog/index.qmd
Due: none
