Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

docs(blog): clarify Waza trigger test cases
  en/blog/2026-05-26-agent-skills-reusable-operating-knowledge.qmd
Due: rumdl-check, rumdl-fix

docs: clarify Waza eval AI behavior
  en/blog/2026-05-26-agent-skills-reusable-operating-knowledge.qmd
  zenn/raw/articles/2026-05-28-agent-skills-ai-interaction.md
Due: rumdl-check, rumdl-fix

docs: clarify Waza Copilot executor
  en/blog/2026-05-26-agent-skills-reusable-operating-knowledge.qmd
  zenn/raw/articles/2026-05-28-agent-skills-ai-interaction.md
Due: rumdl-check, rumdl-fix

docs(blog): render skill index sample as markdown
  en/blog/2026-05-26-agent-skills-reusable-operating-knowledge.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): remove stylistic corner brackets
  zenn/raw/articles/2026-05-28-agent-skills-ai-interaction.md
Due: rumdl-check, rumdl-fix

docs(zenn): publish agent skills article
  zenn/2026-05-28-agent-skills-ai-interaction.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-28-agent-skills-ai-interaction.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(slides): clarify Codex execution framing
  slides/2026-05-28-codex-cli-agent-skills.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(zenn): add skill description prompt example
  zenn/raw/articles/2026-05-28-agent-skills-ai-interaction.md
Due: rumdl-check, rumdl-fix

docs(blog): add Shure AONIC 215 gadget
  blog/2024-06-17-purchased-gadgets.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): add postman article on Claude context
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): refine Claude context article
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify context article naming
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify Claude Sonnet usage motivation
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): align Claude Code model motivation
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify Claude Code usage pressure
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify Claude Code usage buckets
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify Claude model usage pressure
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): tighten Claude context workflow article
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify Claude Sonnet workflow heading
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): clarify Claude context terminology
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): use lowercase Claude context counts
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): fix Mermaid rendering
  AGENTS.md
  en/blog/2026-06-02-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix

docs(blog): shorten Japanese Claude Sonnet workflow article
  blog/2026-06-04-claude-sonnet-200k-context-tmux-a2a-postman.qmd
  blog/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): refine Japanese Claude Sonnet article style
  blog/2026-06-04-claude-sonnet-200k-context-tmux-a2a-postman.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(zenn): tidy table formatting and add follow-up link
  zenn/raw/articles/2026-02-08-tmux-intro-ai-agent-orchestration.md
Due: rumdl-check, rumdl-fix

docs(resume): add 2026 talk entry
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): add March 2026 talk entry
  en/resume/index.qmd
Due: rumdl-check, rumdl-fix

docs: add Databricks workflow auth boundaries post
  en/blog/2026-06-09-databricks-developer-workflows-auth-boundaries.qmd
Due: rumdl-check, rumdl-fix

Disable GitHub profile stats
  .github/workflows/github-profile-summary-cards.yaml
  index.qmd
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

Refine homepage start prompt
  index.qmd
Due: rumdl-check, rumdl-fix

chore: use flake-provided markdown formatter
  flake.lock
  flake.nix
Due: none

docs(index): update homepage title and social links
  index.qmd
Due: rumdl-check, rumdl-fix

chore(github): remove README sync workflow
  .github/workflows/sync-readme.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

docs(slides): add prompt harness engineering talk
  slides/2026-06-30-prompt-harness-engineering.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): rename section and remove duplicated outline
  slides/2026-06-30-prompt-harness-engineering.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): refine prompt harness engineering talk outline
  slides/2026-06-30-prompt-harness-engineering.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(slides): update harness engineering talk title
  slides/2026-06-30-prompt-harness-engineering.qmd
Due: rumdl-check, rumdl-fix, update-categories
