Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: convert-drawio-to-svg, convert-svg-for-pdf, actionlint, pinact, zizmor

convert-drawio-to-svg:
  name: Convert .drawio to .drawio.svg with text-to-path
  entry: bash .github/scripts/convert-drawio-to-svg.sh
  language: system
  pass_filenames: true
  verbose: true

convert-svg-for-pdf:
  name: Convert draw.io SVG for PDF rendering
  entry: bash -c 'for svg in "$@"; do tmp="${svg%.svg}_tmp.svg" && inkscape "$svg" --export-text-to-path --export-plain-svg --export-filename="$tmp" && mv "$tmp" "$svg"; done' --
  language: system
  pass_filenames: true
  verbose: true

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: true

pinact:
  name: pinact
  entry: pinact run
  language: system
  pass_filenames: false

zizmor:
  name: zizmor
  entry: zizmor
  language: system
  pass_filenames: true

WIP
  slides/2023-12-16-sapporo.vim.qmd
  slides/2024-02-04-sapporo.vim.qmd
  slides/2025-05-22-midas-cursor-tips.qmd
  slides/2025-06-03-self-introduction-1page.qmd
  slides/2025-08-08-midas-ai.qmd
  slides/2025-11-07-tamesare-data-sapporo-opening.qmd
  slides/2025-11-07-tamesare-data-sapporo-uma-chan.qmd
Due: none

WIP
  main.py
Due: none

WIP
  _quarto.yml
  index.qmd
  slides/index.qmd
Due: none

WIP
  slides/2025-11-07-tamesare-data-sapporo-opening.qmd
Due: none

WIP
  _quarto.yml
  renovate.json
Due: none

WIP
  _quarto.yml
Due: none

WIP
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

WIP
  resume/_metadata.yml
Due: none

WIP
  resume/index.qmd
Due: none

WIP
  .pre-commit-config.yaml
  _extensions/period/_extension.yml
  _extensions/period/period.lua
  mise.toml
  resume/index.qmd
Due: none

WIP
  .pre-commit-config.yaml
  _extensions/period/period.lua
  mise.toml
Due: none

fix: CIでdrawio変換をスキップする方式をSKIP環境変数に変更
  .github/workflows/pre-commit.yaml
Due: actionlint, pinact, zizmor

WIP
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/job-migration.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/quantitative-improvement.drawio.png
Due: none

fix: add stylua.toml to ensure consistent formatting across environments
  stylua.toml
Due: none

WIP
  about.qmd
Due: none

WIP
  blog/2024-06-17-purchased-gadgets.qmd
Due: none

WIP
  .pre-commit-config.yaml
Due: none

WIP
  renovate.json
Due: none

WIP
  .github/workflows/pre-commit.yaml
Due: actionlint, pinact, zizmor

fix: _site キャッシュ戦略を改善し Renovate PR マージ後の Zenn 記事消失を修正
  .github/workflows/publish.yaml
Due: actionlint, pinact, zizmor

fix: add explicit fontFamily to all draw.io text elements
  assets/2025-12-xx-ai-ready-databricks/ai-era-challenges.drawio
  assets/2025-12-xx-ai-ready-databricks/ai-era-challenges.drawio.png
  assets/2025-12-xx-ai-ready-databricks/ai-ready-overview.drawio
  assets/2025-12-xx-ai-ready-databricks/ai-ready-overview.drawio.png
  assets/2025-12-xx-ai-ready-databricks/guardrails.drawio
  assets/2025-12-xx-ai-ready-databricks/guardrails.drawio.png
  assets/2025-12-xx-ai-ready-databricks/jupyter-databricks-kernel.drawio
  assets/2025-12-xx-ai-ready-databricks/jupyter-databricks-kernel.drawio.png
  assets/2025-12-xx-ai-ready-databricks/skinny-notebook-wrapper.drawio
  assets/2025-12-xx-ai-ready-databricks/skinny-notebook-wrapper.drawio.png
  assets/2025-12-xx-ai-ready-databricks/uv-management.drawio
  assets/2025-12-xx-ai-ready-databricks/uv-management.drawio.png
Due: convert-drawio-to-svg

docs: add drawio CLI command options to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: rename assets directory with actual date
  assets/2025-12-12-ai-ready-databricks/ai-era-challenges.drawio
  assets/2025-12-12-ai-ready-databricks/ai-era-challenges.drawio.png
  assets/2025-12-12-ai-ready-databricks/ai-ready-overview.drawio
  assets/2025-12-12-ai-ready-databricks/ai-ready-overview.drawio.png
  assets/2025-12-12-ai-ready-databricks/guardrails.drawio
  assets/2025-12-12-ai-ready-databricks/guardrails.drawio.png
  assets/2025-12-12-ai-ready-databricks/jupyter-databricks-kernel.drawio
  assets/2025-12-12-ai-ready-databricks/jupyter-databricks-kernel.drawio.png
  assets/2025-12-12-ai-ready-databricks/notebook-challenges.drawio
  assets/2025-12-12-ai-ready-databricks/notebook-challenges.drawio.png
  assets/2025-12-12-ai-ready-databricks/skinny-notebook-wrapper.drawio
  assets/2025-12-12-ai-ready-databricks/skinny-notebook-wrapper.drawio.png
  assets/2025-12-12-ai-ready-databricks/uv-management.drawio
  assets/2025-12-12-ai-ready-databricks/uv-management.drawio.png
  slides/2025-12-12-ai-ready-databricks.qmd
Due: convert-drawio-to-svg

chore: rename slide and assets to match presentation title
  assets/2025-12-12-ai-ready-databricks/ai-era-challenges.drawio.png
  assets/2025-12-12-ai-ready-databricks/ai-ready-overview.drawio.png
  assets/2025-12-12-ai-ready-databricks/guardrails.drawio.png
  assets/2025-12-12-ai-ready-databricks/jupyter-databricks-kernel.drawio.png
  assets/2025-12-12-ai-ready-databricks/notebook-challenges.drawio.png
  assets/2025-12-12-ai-ready-databricks/skinny-notebook-wrapper.drawio.png
  assets/2025-12-12-ai-ready-databricks/uv-management.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-era-challenges.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/ai-era-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/ai-ready-overview.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/ai-ready-overview.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/guardrails.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/guardrails.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/jupyter-databricks-kernel.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/jupyter-databricks-kernel.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/notebook-challenges.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/notebook-challenges.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/skinny-notebook-wrapper.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/skinny-notebook-wrapper.drawio.png
  assets/2025-12-12-databricks-notebook-ai-ready/uv-management.drawio
  assets/2025-12-12-databricks-notebook-ai-ready/uv-management.drawio.png
  slides/2025-12-12-ai-ready-databricks.qmd
  slides/2025-12-12-databricks-notebook-ai-ready.qmd
Due: convert-drawio-to-svg

WIP
  blog/2025-12-14-alacritty-tmux-theme-opacity.qmd
Due: none

add workflows
  .github/workflows/github-profile-summary-cards.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .github/workflows/sync-readme.yaml
  .github/zizmor.yml
  about.qmd
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-uma-chan/development-cycle-comparison.drawio.png
Due: actionlint, pinact, zizmor

Path conditions:
  convert-drawio-to-svg: any of: assets/.*\.drawio$
  convert-svg-for-pdf: any of: assets/.*\.svg$, but not: assets/.*\.drawio\.svg$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
