Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: convert-drawio-to-svg, convert-svg-for-pdf, actionlint, pinact, zizmor

convert-drawio-to-svg:
  name: Convert .drawio to .drawio.svg with text-to-path
  entry: bash .github/scripts/convert-drawio-to-svg.sh
  language: system
  pass_filenames: true
  verbose: true

convert-svg-for-pdf:
  name: Convert draw.io SVG for PDF rendering
  entry: bash -c 'for svg in "$@"; do tmp="${svg%.svg}_tmp.svg" && inkscape "$svg" --export-text-to-path --export-plain-svg --export-filename="$tmp" && mv "$tmp" "$svg"; done' --
  language: system
  pass_filenames: true
  verbose: true

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: true

pinact:
  name: pinact
  entry: pinact run
  language: system
  pass_filenames: false

zizmor:
  name: zizmor
  entry: zizmor
  language: system
  pass_filenames: true

WIP
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: none

WIP
  .github/scripts/convert-drawio-to-svg.sh
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio.svg
Due: none

WIP
  CONTRIBUTING.md
Due: none

WIP
  .github/scripts/convert-drawio-to-svg.sh
  .pre-commit-config.yaml
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio.svg
  mise.toml
Due: none

WIP
  _quarto.yml
Due: none

WIP
  .github/scripts/convert-drawio-to-svg.sh
  .gitignore
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio.svg
  uv.lock
Due: none

WIP
  .github/README.md
  CONTRIBUTING.md
  README.md
Due: none

WIP
  .github/scripts/fetch_zenn_articles.py
  .gitignore
Due: none

WIP
  CONTRIBUTING.md
  _quarto.yml
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio.svg
Due: convert-drawio-to-svg

WIP
  .gitignore
  CONTRIBUTING.md
  _includes/anchor-icon-fix.html
  _quarto.yml
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
Due: convert-drawio-to-svg

WIP
  .github/scripts/convert-drawio-to-svg.sh
  CONTRIBUTING.md
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
Due: convert-drawio-to-svg

WIP
  CONTRIBUTING.md
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  slides/2023-12-16-sapporo.vim.qmd
  slides/2024-02-04-sapporo.vim.qmd
  slides/2025-05-22-midas-cursor-tips.qmd
  slides/2025-06-03-self-introduction-1page.qmd
  slides/2025-08-08-midas-ai.qmd
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg

WIP
  CONTRIBUTING.md
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
Due: convert-drawio-to-svg

WIP
  .github/scripts/convert-drawio-to-svg.sh
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio.svg
Due: convert-drawio-to-svg

WIP
  .pre-commit-config.yaml
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.png
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-old.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-old.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v1.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v1.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v2.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v2.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v3.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v3.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.png
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/snowflake-logo.svg
Due: convert-drawio-to-svg, convert-svg-for-pdf

WIP
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
Due: convert-drawio-to-svg

WIP
  assets/2025-11-07-tamesare-data-sapporo/.$databricks-architecture.drawio.bkp
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
Due: none

WIP
  assets/2025-11-07-tamesare-data-sapporo-b/before-after-summary.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/before-after-summary.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo-b/databricks-aws-architecture-simple.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/databricks-aws-architecture-simple.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo-b/dev-experience-transformation.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/dev-experience-transformation.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo-b/ecs-problem-compact.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/ecs-problem-compact.drawio.svg
  index.qmd
  slides/2025-11-07-tamesare-data-sapporo-b.qmd
Due: convert-drawio-to-svg

WIP
  .github/scripts/convert-drawio-to-png.sh
  .pre-commit-config.yaml
  assets/2025-11-07-tamesare-data-sapporo-b/before-after-summary.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/before-after-summary.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo-b/databricks-aws-architecture-simple.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/databricks-aws-architecture-simple.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo-b/dev-experience-transformation.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/dev-experience-transformation.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo-b/ecs-problem-compact.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/ecs-problem-compact.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-old.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v1.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v2.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v3.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio.svg
  index.qmd
  slides/2025-11-07-tamesare-data-sapporo-b.qmd
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: none

WIP
  resume/index.qmd
Due: none

WIP
  .github/scripts/fetch_zenn_articles.py
Due: none

WIP
  .github/scripts/html_to_pdf.py
Due: none

WIP
  .github/scripts/convert-drawio-to-png.sh
  .github/scripts/convert-drawio-to-svg.sh
  .github/workflows/pre-commit.yaml
  CONTRIBUTING.md
  assets/2025-11-07-tamesare-data-sapporo/.$databricks-architecture.drawio.bkp
  assets/2025-11-07-tamesare-data-sapporo/aws-ecs-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/before-after-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/cell-execution-flow.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.png
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-old.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v1.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v2.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison-v3.drawio
  assets/2025-11-07-tamesare-data-sapporo/dev-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/future-roadmap.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-voice.png
  assets/2025-11-07-tamesare-data-sapporo/learning-cost-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-image.drawio
  assets/2025-11-07-tamesare-data-sapporo/notebook-to-job.drawio
  assets/2025-11-07-tamesare-data-sapporo/snowflake-logo.svg
  assets/2025-11-07-tamesare-data-sapporo/summary-infographic.drawio
  slides/2025-11-07-tamesare-data-sapporo-b.qmd
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg, convert-svg-for-pdf, actionlint, pinact, zizmor

WIP
  assets/2025-11-07-tamesare-data-sapporo-b/before-after-summary.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/before-after-summary.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/databricks-aws-architecture-simple.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/databricks-aws-architecture-simple.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/dev-experience-transformation.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/dev-experience-transformation.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-b/ecs-problem-compact.drawio
  assets/2025-11-07-tamesare-data-sapporo-b/ecs-problem-compact.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-h/development-cycle-databricks.drawio
  assets/2025-11-07-tamesare-data-sapporo-h/development-cycle-databricks.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-h/development-cycle-ecs.drawio
  assets/2025-11-07-tamesare-data-sapporo-h/development-cycle-ecs.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-h/development-speed-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo-h/development-speed-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-i/databricks-required-knowledge.drawio
  assets/2025-11-07-tamesare-data-sapporo-i/databricks-required-knowledge.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-i/ecs-required-knowledge.drawio
  assets/2025-11-07-tamesare-data-sapporo-i/ecs-required-knowledge.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-i/learning-cost-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo-i/learning-cost-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-j/cost-optimization-mechanism.drawio
  assets/2025-11-07-tamesare-data-sapporo-j/cost-optimization-mechanism.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-j/databricks-resource-management.drawio
  assets/2025-11-07-tamesare-data-sapporo-j/databricks-resource-management.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-j/ecs-resource-management.drawio
  assets/2025-11-07-tamesare-data-sapporo-j/ecs-resource-management.drawio.png
  slides/2025-11-07-tamesare-data-sapporo-b.qmd
  slides/2025-11-07-tamesare-data-sapporo-h.qmd
  slides/2025-11-07-tamesare-data-sapporo-i.qmd
  slides/2025-11-07-tamesare-data-sapporo-j.qmd
Due: convert-drawio-to-svg

WIP
  slides/2025-11-07-tamesare-data-sapporo-a.qmd
  slides/2025-11-07-tamesare-data-sapporo-h.qmd
  slides/2025-11-07-tamesare-data-sapporo-i.qmd
  slides/2025-11-07-tamesare-data-sapporo-j.qmd
Due: none

WIP
  assets/2025-11-07-tamesare-data-sapporo-k/cluster-management.drawio
  assets/2025-11-07-tamesare-data-sapporo-k/cluster-management.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-k/databricks-main-features.drawio
  assets/2025-11-07-tamesare-data-sapporo-k/databricks-main-features.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-k/databricks-on-aws-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo-k/databricks-on-aws-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-k/databricks-overview.drawio
  assets/2025-11-07-tamesare-data-sapporo-k/databricks-overview.drawio.png
  assets/2025-11-07-tamesare-data-sapporo-k/notebook-environment.drawio
  assets/2025-11-07-tamesare-data-sapporo-k/notebook-environment.drawio.png
  index.qmd
  slides/2025-11-07-tamesare-data-sapporo-k.qmd
Due: convert-drawio-to-svg

WIP
  slides/2025-11-07-tamesare-data-sapporo-m.qmd
Due: none

WIP
  CONTRIBUTING.md
  assets/2025-11-07-tamesare-data-sapporo/aws-databricks-mapping.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-databricks-mapping.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-challenges.drawio
  assets/2025-11-07-tamesare-data-sapporo/aws-ml-challenges.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio
  assets/2025-11-07-tamesare-data-sapporo/databricks-architecture.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/development-cycle-comparison.drawio
  assets/2025-11-07-tamesare-data-sapporo/development-cycle-comparison.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/intern-productivity.drawio
  assets/2025-11-07-tamesare-data-sapporo/intern-productivity.drawio.png
  assets/2025-11-07-tamesare-data-sapporo/quantitative-improvement.drawio
  assets/2025-11-07-tamesare-data-sapporo/quantitative-improvement.drawio.png
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: convert-drawio-to-svg

WIP
  slides/2025-11-07-tamesare-data-sapporo-a.qmd
  slides/2025-11-07-tamesare-data-sapporo-h.qmd
  slides/2025-11-07-tamesare-data-sapporo-i.qmd
  slides/2025-11-07-tamesare-data-sapporo-j.qmd
  slides/2025-11-07-tamesare-data-sapporo-k.qmd
  slides/2025-11-07-tamesare-data-sapporo-l.qmd
  slides/2025-11-07-tamesare-data-sapporo-m.qmd
  slides/2025-11-07-tamesare-data-sapporo.qmd
Due: none

Path conditions:
  convert-drawio-to-svg: any of: assets/.*\.drawio$
  convert-svg-for-pdf: any of: assets/.*\.svg$, but not: assets/.*\.drawio\.svg$
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
