Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

docs(resume): simplify contact links
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): align contact link rows
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): add JEDAI Order award
  .github/scripts/html-to-pdf.py
  en/resume/index.qmd
  resume/index.qmd
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix

docs(resume): add leadership positioning
  en/resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): add Japanese leadership positioning
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): add tmux-a2a-postman draft
  zenn/raw/articles/2026-05-07-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(zenn): refine tmux-a2a-postman draft
  zenn/raw/articles/2026-05-07-tmux-a2a-postman.md
Due: rumdl-check, rumdl-fix

docs(blog): add Vim window resize repeat article
  blog/2026-05-10-vim-window-resize-repeat.qmd
  blog/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): remove an outdated closing sentence
  blog/2026-05-10-vim-window-resize-repeat.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(homepage): remove social badges and profile card
  index.qmd
Due: rumdl-check, rumdl-fix

Update JP/EN resume headline and outcome-focused summaries
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): tone down public positioning
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

chore(uv): add dependency release age gate
  pyproject.toml
  uv.lock
Due: none

docs(resume): refine Japanese headline
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): update public resume titles
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): restore resume page titles
  en/resume/index.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): refine Japanese title separator
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(resume): smooth Japanese summary opening
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): add codex exec lazygit commit article
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): refine codex exec lazygit article
  bin/sync-zenn.py
  zenn/2026-05-14-lazygit-ai-commit-codex-exec.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix, sync-zenn

chore(gitignore): ignore python cache files
  .gitignore
Due: none

docs(zenn): clarify claude plan migration rationale
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): clarify claude credit billing wording
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): remove redundant claude credit note
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): shorten claude credit explanation
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): standardize lazygit capitalization
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): preserve user lazygit article edits
  zenn/2026-05-14-lazygit-ai-commit-codex-exec.qmd
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): add lazygit script details
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): clarify Claude Agent SDK pricing summary and codex exec migration
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): soften claude billing wording
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): keep old workflow context in intro
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): remove outdated codex exec note
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): update lazygit codex exec article
  zenn/2026-05-14-lazygit-ai-commit-codex-exec.qmd
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): connect codex exec intro context
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): keep codex exec intro concise
  zenn/2026-05-14-lazygit-ai-commit-codex-exec.qmd
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): lead intro with workflow goal
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): clarify lazygit background flow
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix

docs(zenn): preserve current lazygit article state
  zenn/2026-05-14-lazygit-ai-commit-codex-exec.qmd
  zenn/index.qmd
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs(zenn): update article publication time
  zenn/2026-05-14-lazygit-ai-commit-codex-exec.qmd
  zenn/raw/articles/2026-05-14-lazygit-ai-commit-codex-exec.md
Due: rumdl-check, rumdl-fix, sync-zenn

docs: add English lazygit codex exec post
  en/blog/2026-05-14-lazygit-commit-messages-with-codex-exec.qmd
  en/blog/index.qmd
Due: rumdl-check, rumdl-fix
