Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: gitleaks-history
        name: Detect hardcoded secrets (history)
        entry: gitleaks detect --verbose --redact
        language: system
        pass_filenames: false
        stages: [manual]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt
        entry: shfmt -i 2 -w
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

      - id: stylua
        name: stylua
        entry: stylua --indent-type Spaces --indent-width 2
        language: system
        files: \.lua$

      - id: rumdl-check
        name: rumdl-check
        entry: rumdl check
        language: system
        files: \.(md|qmd)$

      - id: rumdl-fix
        name: rumdl-fix
        entry: rumdl check --fix
        language: system
        files: \.(md|qmd)$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$

      - id: sync-zenn
        name: Sync Zenn articles
        entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
        language: system
        files: ^zenn/.*\.qmd$
        pass_filenames: false

      - id: update-categories
        name: Update category buttons
        entry: uv run python bin/update-categories.py blog slides
        language: system
        files: ^(blog|slides)/.*\.qmd$
        pass_filenames: false

fix(blog): remove trailing colons from 出力例 lines
  blog/2026-03-21-claude-codex-info-gathering.qmd
Due: rumdl-check, rumdl-fix, update-categories

refactor(blog): rewrite for general audience, remove setup-specific content
  blog/2026-03-21-claude-codex-info-gathering.qmd
Due: rumdl-check, rumdl-fix, update-categories

feat(blog): add references/ accumulation and fix base64 fragility
  blog/2026-03-21-claude-codex-info-gathering.qmd
Due: rumdl-check, rumdl-fix, update-categories

refactor(blog): rename skills to claude-config-optimizer / codex-config-optimizer
  blog/2026-03-21-claude-codex-info-gathering.qmd
Due: rumdl-check, rumdl-fix, update-categories

feat: add en/blog with first English article
  .github/workflows/publish.yaml
  _quarto.yaml
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
  en/blog/index.qmd
Due: actionlint, ghalint, ghatm, pinact, zizmor, rumdl-check, rumdl-fix

fix(en/blog): add embedded tweets matching original article
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
Due: rumdl-check, rumdl-fix

fix(en/blog): replace Boris tweet with 2.1.0 release announcement
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
Due: rumdl-check, rumdl-fix

fix(en/blog): add category buttons to listing page
  en/blog/index.qmd
Due: rumdl-check, rumdl-fix

fix(en/blog): add _metadata.yaml for social-share extension
  en/blog/_metadata.yaml
Due: none

feat(en/blog): add English translation of mkmd blog post
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  blog/index.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

feat(bin): add en/blog target to update-categories.py
  bin/update-categories.py
Due: ruff-check, ruff-format

docs(en/blog): update descriptions with LinkedIn promo text
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

docs(en/blog): use full LinkedIn promo text as descriptions with strong hooks
  en/blog/2026-01-08-why-i-still-grow-my-dotfiles.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

fix(en/blog): correct script line count from 50 to ~100
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

docs(blog): update mkmd post title to catchier phrasing
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

fix(blog): correct kanji in mkmd post title (描き -> 書き)
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): update mkmd post description and add chmod instruction
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(en/blog): update mkmd post title to match JP style
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

docs(blog): append script introduction to JP mkmd post title and description
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): replace i9wa4-internal with i9wa4.github.io in directory tree example
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(en/blog): add hashtags to mkmd post description
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix

docs(mkmd): fix BSD mktemp suffix compatibility example
  blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
  en/blog/2026-03-22-mkmd-mktemp-wrapper-for-ai-agents.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(resume): add Findy Tools Databricks review entry
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(zenn): add lazygit AI commit message article
  zenn/raw/articles/2026-03-14-lazygit-commit-message.md
Due: rumdl-check, rumdl-fix

docs(zenn): update published_at to 2026-03-27 for lazygit article
  zenn/raw/articles/2026-03-14-lazygit-commit-message.md
Due: rumdl-check, rumdl-fix

docs(zenn): convert code block from Nix to lazygit config.yml YAML
  zenn/raw/articles/2026-03-14-lazygit-commit-message.md
Due: rumdl-check, rumdl-fix

docs(zenn): shorten code block filename label to config.yml
  zenn/raw/articles/2026-03-14-lazygit-commit-message.md
Due: rumdl-check, rumdl-fix

docs(zenn): rename lazygit article slug to 2026-03-27
  zenn/raw/articles/2026-03-27-lazygit-commit-message.md
Due: rumdl-check, rumdl-fix

docs(zenn): remove lazygit commit message article
  zenn/raw/articles/2026-03-27-lazygit-commit-message.md
Due: rumdl-check, rumdl-fix

docs(resume): update employment period and refactor team development section
  resume/05-genda.qmd
Due: rumdl-check, rumdl-fix

docs(resume): update GENDA position and add manager role promotion
  resume/05-genda.qmd
  resume/index.qmd
Due: rumdl-check, rumdl-fix

docs(blog): add post about typing emoji everywhere with SKK
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
  blog/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): revise SKK emoji post with abbrev mode and client-specific setup
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): remove bold from Japanese prose in SKK emoji post
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): replace アブレブ with abbrev in SKK emoji post
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): fix dict example and rewrite opening paragraph in SKK emoji post
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): fix abbrev mode spacing and dict entries in SKK emoji post
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs(blog): add space before abbrev in 3 locations in SKK emoji post
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories

docs: revise SKK emoji blog post content
  blog/2026-04-30-type-emoji-everywhere-with-skk.qmd
Due: rumdl-check, rumdl-fix, update-categories
