Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, ruff-check, ruff-format, stylua, rumdl-check, rumdl-fix, convert-drawio-to-png, sync-zenn, update-categories

actionlint:
  name: actionlint
  entry: actionlint
  language: system

ghalint:
  name: ghalint
  entry: ghalint run
  language: system

ghatm:
  name: ghatm
  entry: ghatm set -t 5
  language: system

pinact:
  name: pinact
  entry: pinact run
  language: system

zizmor:
  name: zizmor
  entry: zizmor
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

stylua:
  name: stylua
  entry: stylua --indent-type Spaces --indent-width 2
  language: system

rumdl-check:
  name: rumdl-check
  entry: rumdl check
  language: system

rumdl-fix:
  name: rumdl-fix
  entry: rumdl check --fix
  language: system

convert-drawio-to-png:
  name: Convert .drawio to .drawio.png
  entry: bash .github/scripts/convert-drawio-to-png.sh
  language: system

sync-zenn:
  name: Sync Zenn articles
  entry: bash -c 'uv run python bin/sync-zenn.py && uv run python bin/update-categories.py zenn'
  language: system
  pass_filenames: false

update-categories:
  name: Update category buttons
  entry: uv run python bin/update-categories.py blog slides
  language: system
  pass_filenames: false

WIP
  blog/2024-06-17-purchased-gadgets.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  auto/.preferences.yaml
  auto/2026-03-01-en-tech-trends.qmd
  auto/2026-03-01-ja-tech-trends.qmd
  auto/index.qmd
Due: rumdl-check, rumdl-fix

WIP
  index.qmd
Due: rumdl-check, rumdl-fix

WIP
  .claude/skills/generate-trends/scripts/fetch-trends.py
  .stylua.toml
  auto/.preferences.yaml
  flake.lock
  flake.nix
  index.qmd
  nix/pre-commit.nix
  nix/treefmt.nix
  renovate.json
Due: ruff-check, ruff-format, rumdl-check, rumdl-fix

WIP
  .github/workflows/pre-commit-nix.yaml
  .github/workflows/pre-commit.yaml
  flake.nix
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  blog/2026-02-20-genda-talks-summary.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  slides/2026-03-04-multi-agent-orchestration.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  assets/jupyter-databricks-kernel-2026-03-05.jpeg
  assets/jupyter-databricks-kernel-architecture.drawio
  assets/jupyter-databricks-kernel-architecture.png
  slides/2026-03-06-kenro-py.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

WIP
  slides/2026-03-05-multi-agent-orchestration.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  assets/jupyter-databricks-kernel-architecture.drawio
  assets/jupyter-databricks-kernel-architecture.drawio.png
  assets/jupyter-databricks-kernel-architecture.png
  slides/2026-03-06-kenro-py.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

WIP
  slides/2026-03-04-multi-agent-orchestration.qmd
  slides/2026-03-05-multi-agent-orchestration.qmd
Due: rumdl-check, rumdl-fix, update-categories

WIP
  slides/2026-03-06-kenro-py.qmd
Due: rumdl-check, rumdl-fix, update-categories

fix: add alt text to images in kenro-py slide (MD045)
  slides/2026-03-06-kenro-py.qmd
  slides/index.qmd
Due: rumdl-check, rumdl-fix, update-categories

Issue 122 create kenro py talk materials (#126)
  assets/jupyter-databricks-kernel-2026-03-05.jpeg
  assets/jupyter-databricks-kernel-architecture.drawio
  assets/jupyter-databricks-kernel-architecture.drawio.png
  assets/jupyter-databricks-kernel-architecture.png
  slides/2026-03-06-kenro-py.qmd
  slides/index.qmd
Due: rumdl-check, rumdl-fix, convert-drawio-to-png, update-categories

WIP
  _quarto.yaml
  auto/.preferences.yaml
  auto/2026-02-23-en-tech-trends.qmd
  auto/2026-02-23-ja-tech-trends.qmd
  auto/2026-02-24-en-tech-trends.qmd
  auto/2026-02-24-ja-tech-trends.qmd
  auto/2026-02-25-en-tech-trends.qmd
  auto/2026-02-25-ja-tech-trends.qmd
  auto/2026-02-28-en-tech-trends.qmd
  auto/2026-02-28-ja-tech-trends.qmd
  auto/2026-03-01-en-tech-trends.qmd
  auto/2026-03-01-ja-tech-trends.qmd
  auto/index.qmd
Due: rumdl-check, rumdl-fix

WIP
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghalint: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ghatm: any of: ^\.github/workflows/.*\.(yml|yaml)$
  pinact: any of: ^\.github/workflows/.*\.(yml|yaml)$
  zizmor: any of: ^\.github/workflows/.*\.(yml|yaml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  stylua: any of: \.lua$
  rumdl-check: any of: \.(md|qmd)$
  rumdl-fix: any of: \.(md|qmd)$
  convert-drawio-to-png: any of: assets/.*\.drawio$
  sync-zenn: any of: ^zenn/.*\.qmd$
  update-categories: any of: ^(blog|slides)/.*\.qmd$
