Repository i9wa4/i9wa4.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, ghalint, ghatm, pinact, zizmor, stylua, convert-drawio-to-png

.pre-commit-config.yaml:

default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=no]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets
        entry: mise exec -- gitleaks protect --verbose --redact --staged
        language: system
        pass_filenames: false

      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghalint
        name: ghalint
        entry: mise exec -- ghalint run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: ghatm
        name: ghatm
        entry: mise exec -- ghatm set -t 5
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: pinact
        name: pinact
        entry: mise exec -- pinact run
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: zizmor
        name: zizmor
        entry: mise exec -- zizmor
        language: system
        files: ^\.github/workflows/.*\.(yml|yaml)$

      - id: shellcheck
        name: shellcheck
        entry: mise exec -- shellcheck
        language: system
        types: [shell]

      - id: stylua
        name: stylua
        entry: mise exec -- stylua
        language: system
        files: \.lua$

      - id: convert-drawio-to-png
        name: Convert .drawio to .drawio.png
        entry: bash .github/scripts/convert-drawio-to-png.sh
        language: system
        files: assets/.*\.drawio$
        require_serial: true

WIP
  .pre-commit-config.yaml
  _extensions/period/period.lua
  _extensions/schochastics/social-share/_extensions/quarto-ext/fontawesome/fontawesome.lua
  _extensions/schochastics/social-share/social-share.lua
  stylua.toml
Due: stylua

WIP
  blog/2024-06-17-purchased-gadgets.qmd
Due: none

WIP
  themes/font.scss
Due: none

WIP
  uv.lock
Due: none

WIP
  blog/2025-12-31-year-in-review.qmd
  blog/index.qmd
Due: none

WIP
  blog/2025-12-31-year-in-review.qmd
Due: none

WIP
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  zenn/2026-01-01-zsh-startup-optimization-compinit.qmd
  zenn/2026-01-01-zsh-startup-optimization-zinit.qmd
  zenn/index.qmd
Due: none

WIP
  .github/README.md
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .github/workflows/sync-readme.yaml
  _quarto.yaml
  index.qmd
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  blog/2025-12-15-uv-quarto-intro.qmd
Due: none

WIP
  slides/index.qmd
Due: none

WIP
  index.qmd
Due: none

WIP
  .github/scripts/fix-gfm-paths.py
  .github/scripts/fix-timestamps.sh
  .github/scripts/html-to-pdf.py
  .github/workflows/sync-readme.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .github/scripts/fix-timestamps.sh
Due: none

WIP
  blog/2026-01-06-mise-pre-commit.qmd
  blog/index.qmd
Due: none

fix: incremental deploy で新規ファイルが正しくコピーされない問題を修正
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  blog/2025-04-11-mcp-hands-on.qmd
Due: none

fix: incremental deploy でビルド済みディレクトリが正しく上書きされない問題を修正
  .github/workflows/publish.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  blog/2026-01-07-terminal-ai-collaborative-development.qmd
  blog/index.qmd
Due: none

WIP
  blog/2026-01-07-terminal-ai-collaborative-development.qmd
Due: none

WIP
  blog/2026-01-08-why-dotfiles-still-matters-to-me.qmd
Due: none

WIP
  .github/scripts/detect-changes.sh
Due: none

fix: separate gitleaks hooks for pre-commit and CI
  .pre-commit-config.yaml
Due: none

fix: separate gitleaks hooks for pre-commit and CI (#97)
  .pre-commit-config.yaml
Due: none

fix: rename gitleaks hooks and add history scan to CI
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

fix: rename gitleaks hooks and add history scan to CI (#98)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  .envrc
  .github/workflows/pre-commit-nix.yaml
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  mise.toml
  renovate.json
Due: actionlint, ghalint, ghatm, pinact, zizmor

WIP
  _quarto.yaml
  index.qmd
Due: none

WIP
  _quarto.yaml
Due: none
